In [896]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import cv2

In [897]:
train_data=pd.read_csv('problem_2_train.csv',parse_dates=['memcreateddate','mobilepurchasedate','claimintdate','pickupStartdate'])
#df=train_data.groupby('Dataset').describe()
train_data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,AN,7,500004,233,233,131,A,ADLD,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,AJ,10,226010,233,233,131,A,ADLD,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,AJ,2,110018,233,233,228,A,ADLD,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,AM,2,110018,233,233,228,B,ADLD,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,AN,21,110015,233,233,131,A,ADLD,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

In [898]:
mob_arr=train_data.mobmake.unique()

In [899]:
mob_list=list(mob_arr)
len_mob=len(mob_list)
len_mob

38

In [900]:
#train_data.groupby('memcreateddate').describe().iloc[:,0:20].head()

In [901]:
#train_data.custpincodecategory.unique()

In [902]:
mob_dict={}

for i in range(0,len_mob):
    mob_dict[mob_arr[i]]=i
#mob_dict    
#train_data['mobmake']=train_data.mobmake.map(dict(Male=1, Female=0))

In [903]:
train_data['mobmake']=train_data.mobmake.map(mob_dict)
#train_data['mobmake']
#train_data.head()

In [904]:
train_data.custpincodecategory.unique()

array(['A', 'B', 'C', '0', 'D'], dtype=object)

In [905]:
train_data.claimtype.unique()

array(['ADLD', 'EW'], dtype=object)

In [906]:
train_data['custpincodecategory']=train_data.custpincodecategory.map({'0':0,'A':1,'B':2,'C':3,'D':4})

In [907]:
train_data['claimtype']=train_data.claimtype.map({'ADLD':1,'EW':2})

In [908]:
type(train_data['mobilepurchasedate'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [909]:
train_data['mobilepurchasedate']=train_data.mobilepurchasedate.dt.day
#train_data['mobilepurchasedate']

In [910]:
train_data['claimintdate']=train_data.claimintdate.dt.day

In [911]:
train_data['pickupStartdate']=train_data.pickupStartdate.dt.day
train_data['memcreateddate']=train_data.memcreateddate.dt.day

In [912]:
#train_data.groupby('tat_in_days').describe
#train_data.query('claimtype==1')
#train_data.drop(['pickuppartnerid','deliverypartnerid','claimtype','srno'],axis=1,inplace=True)
# train_data.drop('deliverypartnerid',axis=1)
# train_data.drop('claimtype',axis=1)
# train_data.drop('srno',axis=1)

In [913]:
# dataset=train_data.sort_values('mobmake')

# dataset.shape
train_data.columns

Index(['srno', 'mobmake', 'hubid', 'hubpincode', 'pickuppartnerid',
       'deliverypartnerid', 'insuranceCompanyId', 'custpincodecategory',
       'claimtype', 'custpincode', 'memcreateddate', 'mobilepurchasedate',
       'claimintdate', 'servicecntrid', 'pickupStartdate', 'tat_in_days'],
      dtype='object')

In [914]:
#X=train_data.iloc[:,0:15]  4.90
# feature_cols=[ 'mobmake', 'hubid', 'pickuppartnerid',
#        'deliverypartnerid', 'insuranceCompanyId', 'custpincodecategory',
#          'memcreateddate', 'mobilepurchasedate',
#        'claimintdate', 'servicecntrid', 'pickupStartdate']
# feature_cols
feature_cols=['mobmake',  'custpincodecategory','claimtype','custpincode','memcreateddate']

#

In [915]:
X=train_data[feature_cols]
#X
# X.head()

In [916]:
# from pandas.plotting import scatter_matrix
# plt.figure(figsize=(30,30))
# scatter_matrix(dataset)
# plt.show()

In [917]:
#sb.pairplot(dataset)

In [918]:
#train_data[train_data.isnull().values]

In [919]:
#len(train_data.columns)

In [920]:
# X=train_data.iloc[:,[1]]
# X.head()

In [921]:
y=train_data.iloc[:,-1]

In [922]:
#train_data.groupby('mobmake').describe()

In [923]:
X.shape

(6250, 5)

In [924]:
y.shape

(6250,)

In [925]:
from sklearn.model_selection import cross_val_score,train_test_split
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [926]:
# train_data.boxplot()

# plt.xticks(rotation=30)
# plt.show()

In [927]:
#train_data[train_data.isnull().values]

In [928]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1)

In [929]:
lnreg=LinearRegression()
lnreg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [930]:
y_pred=lnreg.predict(X_test)
y_pred

array([11.09447891, 12.70315793, 16.75121281, ..., 12.42734157,
       11.80584307, 11.72751345])

In [931]:
lnreg.intercept_

-7.840788626904123

In [932]:
lnreg.coef_

array([2.97416224e-01, 1.11077688e+00, 1.77078613e+01, 4.42420033e-07,
       1.69813811e-02])

In [933]:
list(zip(feature_cols,lnreg.coef_))

[('mobmake', 0.2974162239926367),
 ('custpincodecategory', 1.1107768766848618),
 ('claimtype', 17.707861321981348),
 ('custpincode', 4.4242003305328126e-07),
 ('memcreateddate', 0.016981381141950955)]

In [934]:
rmse=np.sqrt(((y_test - y_pred) ** 2).mean())
rmse

5.028138670392527

In [935]:
lnreg.score(X_train,y_train)

0.11356184461411556

<h1> Testing data(from test.csv) </h1>

In [936]:
test_data=pd.read_csv('problem_2_test.csv',parse_dates=['memcreateddate','mobilepurchasedate','claimintdate','pickupStartdate'])
test_data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate
0,2829088,AN,3,560011,233,233,131,A,ADLD,560093,2017-07-30,2017-07-27,2018-02-01,4467,2018-02-06
1,2829866,AJ,2,110018,233,233,228,A,ADLD,110034,2017-07-17,2017-01-25,2018-02-01,4388,2018-02-08
2,2894489,AJ,3,560011,233,233,228,C,ADLD,590014,2018-01-12,2018-01-11,2018-02-21,4460,2018-02-28
3,2876708,AJ,2,110018,233,233,228,B,ADLD,250110,2017-08-07,2017-05-21,2018-02-16,4388,2018-02-26
4,2890283,AN,22,400104,233,233,131,C,ADLD,496001,2017-11-10,2017-09-22,2018-02-20,4581,2018-02-23

In [937]:
mob_arr=test_data.mobmake.unique()

In [938]:
mob_list=list(mob_arr)
len_mob=len(mob_list)
len_mob

34

In [939]:
mob_dict={}

for i in range(0,len_mob):
    mob_dict[mob_arr[i]]=i
#mob_dict    
#train_data['mobmake']=train_data.mobmake.map(dict(Male=1, Female=0))

In [940]:
test_data['mobmake']=test_data.mobmake.map(mob_dict)
#train_data['mobmake']
#train_data.head()

In [941]:
test_data['custpincodecategory']=test_data.custpincodecategory.map({'0':0,'A':1,'B':2,'C':3,'D':4})

In [942]:
test_data['claimtype']=test_data.claimtype.map({'ADLD':1,'EW':2})

In [943]:
test_data['mobilepurchasedate']=test_data.mobilepurchasedate.dt.day
#train_data['mobilepurchasedate']

In [944]:
test_data['claimintdate']=test_data.claimintdate.dt.day

In [945]:
test_data['pickupStartdate']=test_data.pickupStartdate.dt.day
test_data['memcreateddate']=test_data.memcreateddate.dt.day

In [946]:
#X=train_data.iloc[:,0:15]  4.90
feature_cols=[ 'mobmake', 'hubid', 'pickuppartnerid',
       'deliverypartnerid', 'insuranceCompanyId', 'custpincodecategory',
         'memcreateddate', 'mobilepurchasedate',
       'claimintdate', 'servicecntrid', 'pickupStartdate']
feature_cols

#

['mobmake',
 'hubid',
 'pickuppartnerid',
 'deliverypartnerid',
 'insuranceCompanyId',
 'custpincodecategory',
 'memcreateddate',
 'mobilepurchasedate',
 'claimintdate',
 'servicecntrid',
 'pickupStartdate']

In [947]:
X=test_data[feature_cols]

In [948]:
pred_dataset=lnreg.predict(test_X)
pred_dataset

ValueError: could not convert string to float: 'AN'