In [2019]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import cv2

In [2020]:
train_data=pd.read_csv('problem_2_train.csv',parse_dates=['memcreateddate','mobilepurchasedate','claimintdate','pickupStartdate'])
#df=train_data.groupby('Dataset').describe()
train_data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,AN,7,500004,233,233,131,A,ADLD,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,AJ,10,226010,233,233,131,A,ADLD,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,AJ,2,110018,233,233,228,A,ADLD,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,AM,2,110018,233,233,228,B,ADLD,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,AN,21,110015,233,233,131,A,ADLD,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

In [2021]:
mob_arr=train_data.mobmake.unique()

In [2022]:
mob_list=list(mob_arr)
len_mob=len(mob_list)
len_mob

38

In [2023]:
#train_data.groupby('memcreateddate').describe().iloc[:,0:20].head()

In [2024]:
#train_data.custpincodecategory.unique()

In [2025]:
mob_dict={}

for i in range(0,len_mob):
    mob_dict[mob_arr[i]]=i
#mob_dict    
#train_data['mobmake']=train_data.mobmake.map(dict(Male=1, Female=0))

In [2026]:
train_data['mobmake']=train_data.mobmake.map(mob_dict)
#train_data['mobmake']
#train_data.head()

In [2027]:
train_data.custpincodecategory.unique()

array(['A', 'B', 'C', '0', 'D'], dtype=object)

In [2028]:
train_data.claimtype.unique()

array(['ADLD', 'EW'], dtype=object)

In [2029]:
train_data['custpincodecategory']=train_data.custpincodecategory.map({'0':0,'A':1,'B':2,'C':3,'D':4})

In [2030]:
train_data['claimtype']=train_data.claimtype.map({'ADLD':1,'EW':2})

In [2031]:
type(train_data['mobilepurchasedate'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [2032]:
train_data['mobilepurchasedate']=train_data.mobilepurchasedate.dt.day
#train_data['mobilepurchasedate']

In [2033]:
train_data['claimintdate']=train_data.claimintdate.dt.day

In [2034]:
train_data['pickupStartdate']=train_data.pickupStartdate.dt.day
train_data['memcreateddate']=train_data.memcreateddate.dt.day
train_data['diff_date']=train_data['pickupStartdate']-train_data['claimintdate']

In [2035]:
#train_data.groupby('tat_in_days').describe
#train_data.query('claimtype==1')
#train_data.drop(['pickuppartnerid','deliverypartnerid','claimtype','srno'],axis=1,inplace=True)
# train_data.drop('deliverypartnerid',axis=1)
# train_data.drop('claimtype',axis=1)
# train_data.drop('srno',axis=1)

In [2036]:
# dataset=train_data.sort_values('mobmake')

# dataset.shape
train_data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days,diff_date
0,2851218,0,7,500004,233,233,131,1,1,500001,27,2,8,4403,13,5,5
1,2838330,1,10,226010,233,233,131,1,1,226022,6,5,4,4444,8,12,4
2,2835781,1,2,110018,233,233,228,1,1,110018,1,27,3,4388,12,9,9
3,2838589,2,2,110018,233,233,228,2,1,124001,17,31,4,4092,14,9,10
4,2855214,0,21,110015,233,233,131,1,1,201301,23,20,9,4580,14,8,5

In [2037]:
#X=train_data.iloc[:,0:15]  4.90
feature_cols=[ 'mobmake', 'insuranceCompanyId', 'custpincodecategory','claimtype', 'custpincode',
         'memcreateddate', 'mobilepurchasedate',
       'claimintdate',  'pickupStartdate','diff_date']
feature_cols
#feature_cols=['mobmake','custpincodecategory','claimtype','custpincode','memcreateddate']

['mobmake',
 'insuranceCompanyId',
 'custpincodecategory',
 'claimtype',
 'custpincode',
 'memcreateddate',
 'mobilepurchasedate',
 'claimintdate',
 'pickupStartdate',
 'diff_date']

In [2038]:
X=train_data[feature_cols]
#X
X.head()

,mobmake,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,pickupStartdate,diff_date
0,0,131,1,1,500001,27,2,8,13,5
1,1,131,1,1,226022,6,5,4,8,4
2,1,228,1,1,110018,1,27,3,12,9
3,2,228,2,1,124001,17,31,4,14,10
4,0,131,1,1,201301,23,20,9,14,5

In [2039]:
# from pandas.plotting import scatter_matrix
# plt.figure(figsize=(30,30))
# scatter_matrix(dataset)
# plt.show()

In [2040]:
#sb.pairplot(dataset)

In [2041]:
#train_data[train_data.isnull().values]

In [2042]:
#len(train_data.columns)

In [2043]:
# X=train_data.iloc[:,[1]]
# X.head()

In [2044]:
y=train_data.iloc[:,-1]

In [2045]:
#train_data.groupby('mobmake').describe()

In [2046]:
X.shape

(6250, 10)

In [2047]:
y.shape

(6250,)

In [2048]:
from sklearn.model_selection import cross_val_score,train_test_split
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [2049]:
# train_data.boxplot()

# plt.xticks(rotation=30)
# plt.show()

In [2050]:
#train_data[train_data.isnull().values]

In [2051]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1)

In [2052]:
lnreg=LinearRegression()
lnreg.fit(X_train,y_train)
y_pred=lnreg.predict(X_test)
y_pred

array([2., 2., 2., ..., 2., 2., 8.])

In [2053]:
lnreg.intercept_

-1.684763439868675e-14

In [2054]:
lnreg.coef_

array([ 2.59278012e-16, -1.84802260e-16,  1.88597346e-15,  3.18619864e-14,
        2.71050543e-20, -1.77694082e-16,  7.42130138e-17, -3.33333333e-01,
        3.33333333e-01,  6.66666667e-01])

In [2055]:
list(zip(feature_cols,lnreg.coef_))

[('mobmake', 2.5927801209107207e-16),
 ('insuranceCompanyId', -1.8480226030015423e-16),
 ('custpincodecategory', 1.885973462510958e-15),
 ('claimtype', 3.186198636276213e-14),
 ('custpincode', 2.710505431213761e-20),
 ('memcreateddate', -1.7769408160914134e-16),
 ('mobilepurchasedate', 7.421301377168e-17),
 ('claimintdate', -0.3333333333333329),
 ('pickupStartdate', 0.3333333333333331),
 ('diff_date', 0.6666666666666664)]

In [2056]:
rmse=np.sqrt(((y_test - y_pred) ** 2).mean())
rmse

1.249114692025711e-14

In [2057]:
lnreg.score(X_test,y_test)

1.0

<h1> Testing data(from test.csv) </h1>

In [2058]:
test_data=pd.read_csv('problem_2_test.csv',parse_dates=['memcreateddate','mobilepurchasedate','claimintdate','pickupStartdate'])
test_data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate
0,2829088,AN,3,560011,233,233,131,A,ADLD,560093,2017-07-30,2017-07-27,2018-02-01,4467,2018-02-06
1,2829866,AJ,2,110018,233,233,228,A,ADLD,110034,2017-07-17,2017-01-25,2018-02-01,4388,2018-02-08
2,2894489,AJ,3,560011,233,233,228,C,ADLD,590014,2018-01-12,2018-01-11,2018-02-21,4460,2018-02-28
3,2876708,AJ,2,110018,233,233,228,B,ADLD,250110,2017-08-07,2017-05-21,2018-02-16,4388,2018-02-26
4,2890283,AN,22,400104,233,233,131,C,ADLD,496001,2017-11-10,2017-09-22,2018-02-20,4581,2018-02-23

In [2059]:
mob_arr=test_data.mobmake.unique()

In [2060]:
mob_list=list(mob_arr)
len_mob=len(mob_list)
len_mob

34

In [2061]:
mob_dict={}

for i in range(0,len_mob):
    mob_dict[mob_arr[i]]=i
#mob_dict    
#train_data['mobmake']=train_data.mobmake.map(dict(Male=1, Female=0))

In [2062]:
test_data['mobmake']=test_data.mobmake.map(mob_dict)
#train_data['mobmake']
#train_data.head()

In [2063]:
test_data['custpincodecategory']=test_data.custpincodecategory.map({'0':0,'A':1,'B':2,'C':3,'D':4})

In [2064]:
test_data['claimtype']=test_data.claimtype.map({'ADLD':1,'EW':2})

In [2065]:
test_data['mobilepurchasedate']=test_data.mobilepurchasedate.dt.day
#train_data['mobilepurchasedate']

In [2066]:
test_data['claimintdate']=test_data.claimintdate.dt.day

In [2067]:
test_data['pickupStartdate']=test_data.pickupStartdate.dt.day
test_data['memcreateddate']=test_data.memcreateddate.dt.day

In [2068]:
test_data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate
0,2829088,0,3,560011,233,233,131,1,1,560093,30,27,1,4467,6
1,2829866,1,2,110018,233,233,228,1,1,110034,17,25,1,4388,8
2,2894489,1,3,560011,233,233,228,3,1,590014,12,11,21,4460,28
3,2876708,1,2,110018,233,233,228,2,1,250110,7,21,16,4388,26
4,2890283,0,22,400104,233,233,131,3,1,496001,10,22,20,4581,23

In [2069]:
#X=train_data.iloc[:,0:15]  4.90
feature_cols=['mobmake','custpincodecategory','claimtype','custpincode','memcreateddate']

In [2070]:
test_X=test_data[feature_cols]

In [2071]:
pred_dataset=lnreg.predict(test_X)
pred_dataset
for i in pred_dataset:
    print(i)

ValueError: shapes (2116,5) and (10,) not aligned: 5 (dim 1) != 10 (dim 0)