In [1719]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import cv2

In [1720]:
train_data=pd.read_csv('problem_2_train.csv',parse_dates=['memcreateddate','mobilepurchasedate','claimintdate','pickupStartdate'])
#df=train_data.groupby('Dataset').describe()
train_data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,AN,7,500004,233,233,131,A,ADLD,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,AJ,10,226010,233,233,131,A,ADLD,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,AJ,2,110018,233,233,228,A,ADLD,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,AM,2,110018,233,233,228,B,ADLD,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,AN,21,110015,233,233,131,A,ADLD,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

In [1721]:
mob_arr=train_data.mobmake.unique()

In [1722]:
mob_list=list(mob_arr)
len_mob=len(mob_list)
len_mob

38

In [1723]:
#train_data.groupby('memcreateddate').describe().iloc[:,0:20].head()

In [1724]:
#train_data.custpincodecategory.unique()

In [1725]:
mob_dict={}

for i in range(0,len_mob):
    mob_dict[mob_arr[i]]=i
#mob_dict    
#train_data['mobmake']=train_data.mobmake.map(dict(Male=1, Female=0))

In [1726]:
train_data['mobmake']=train_data.mobmake.map(mob_dict)
#train_data['mobmake']
#train_data.head()

In [1727]:
train_data.custpincodecategory.unique()

array(['A', 'B', 'C', '0', 'D'], dtype=object)

In [1728]:
train_data.claimtype.unique()

array(['ADLD', 'EW'], dtype=object)

In [1729]:
train_data['custpincodecategory']=train_data.custpincodecategory.map({'0':0,'A':1,'B':2,'C':3,'D':4})

In [1730]:
train_data['claimtype']=train_data.claimtype.map({'ADLD':1,'EW':2})

In [1731]:
type(train_data['mobilepurchasedate'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [1732]:
train_data['mobilepurchasedate']=train_data.mobilepurchasedate.dt.month
#train_data['mobilepurchasedate']

In [1733]:
train_data['claimintdate']=train_data.claimintdate.dt.month

In [1734]:
train_data['pickupStartdate']=train_data.pickupStartdate.dt.month
train_data['memcreateddate']=train_data.memcreateddate.dt.month

In [1735]:
#train_data.groupby('tat_in_days').describe
#train_data.query('claimtype==1')
#train_data.drop(['pickuppartnerid','deliverypartnerid','claimtype','srno'],axis=1,inplace=True)
# train_data.drop('deliverypartnerid',axis=1)
# train_data.drop('claimtype',axis=1)
# train_data.drop('srno',axis=1)

In [1736]:
# dataset=train_data.sort_values('mobmake')

# dataset.shape
train_data.columns

Index(['srno', 'mobmake', 'hubid', 'hubpincode', 'pickuppartnerid',
       'deliverypartnerid', 'insuranceCompanyId', 'custpincodecategory',
       'claimtype', 'custpincode', 'memcreateddate', 'mobilepurchasedate',
       'claimintdate', 'servicecntrid', 'pickupStartdate', 'tat_in_days'],
      dtype='object')

In [1737]:
#X=train_data.iloc[:,0:15]  4.90
feature_cols=[ 'mobmake', 'insuranceCompanyId', 'custpincodecategory','claimtype', 'custpincode',
         'memcreateddate', 'mobilepurchasedate',
       'claimintdate',  'pickupStartdate']
feature_cols
#feature_cols=['mobmake','custpincodecategory','claimtype','custpincode','memcreateddate']

['mobmake',
 'insuranceCompanyId',
 'custpincodecategory',
 'claimtype',
 'custpincode',
 'memcreateddate',
 'mobilepurchasedate',
 'claimintdate',
 'pickupStartdate']

In [1738]:
X=train_data[feature_cols]
#X
X.head()

,mobmake,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,pickupStartdate
0,0,131,1,1,500001,4,12,2,2
1,1,131,1,1,226022,3,3,2,2
2,1,228,1,1,110018,2,1,2,2
3,2,228,2,1,124001,1,1,2,2
4,0,131,1,1,201301,1,1,2,2

In [1739]:
# from pandas.plotting import scatter_matrix
# plt.figure(figsize=(30,30))
# scatter_matrix(dataset)
# plt.show()

In [1740]:
#sb.pairplot(dataset)

In [1741]:
#train_data[train_data.isnull().values]

In [1742]:
#len(train_data.columns)

In [1743]:
# X=train_data.iloc[:,[1]]
# X.head()

In [1744]:
y=train_data.iloc[:,-1]

In [1745]:
#train_data.groupby('mobmake').describe()

In [1746]:
X.shape

(6250, 9)

In [1747]:
y.shape

(6250,)

In [1748]:
from sklearn.model_selection import cross_val_score,train_test_split
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [1749]:
# train_data.boxplot()

# plt.xticks(rotation=30)
# plt.show()

In [1750]:
#train_data[train_data.isnull().values]

In [1751]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1)

In [1752]:
lnreg=LinearRegression()
lnreg.fit(X_train,y_train)
y_pred=lnreg.predict(X_test)
y_pred

array([12.31879473, 12.39623485, 17.39977401, ..., 13.11958681,
       12.65598956, 11.62517159])

In [1753]:
lnreg.intercept_

-3.47749763727675

In [1754]:
lnreg.coef_

array([ 2.88510725e-01, -3.40925616e-03,  1.04329756e+00,  1.74569474e+01,
        3.52775635e-07,  5.67748391e-03, -2.92683173e-03, -6.87260618e-01,
       -4.67703679e-01])

In [1755]:
list(zip(feature_cols,lnreg.coef_))

[('mobmake', 0.2885107251879855),
 ('insuranceCompanyId', -0.003409256159323736),
 ('custpincodecategory', 1.0432975644615259),
 ('claimtype', 17.456947387884426),
 ('custpincode', 3.52775634510083e-07),
 ('memcreateddate', 0.005677483905418728),
 ('mobilepurchasedate', -0.0029268317252895424),
 ('claimintdate', -0.6872606184388537),
 ('pickupStartdate', -0.46770367880267083)]

In [1756]:
rmse=np.sqrt(((y_test - y_pred) ** 2).mean())
rmse

4.967678548933804

In [1757]:
lnreg.score(X_test,y_test)

0.11859057705809362

<h1> Testing data(from test.csv) </h1>

In [1758]:
test_data=pd.read_csv('problem_2_test.csv',parse_dates=['memcreateddate','mobilepurchasedate','claimintdate','pickupStartdate'])
test_data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate
0,2829088,AN,3,560011,233,233,131,A,ADLD,560093,2017-07-30,2017-07-27,2018-02-01,4467,2018-02-06
1,2829866,AJ,2,110018,233,233,228,A,ADLD,110034,2017-07-17,2017-01-25,2018-02-01,4388,2018-02-08
2,2894489,AJ,3,560011,233,233,228,C,ADLD,590014,2018-01-12,2018-01-11,2018-02-21,4460,2018-02-28
3,2876708,AJ,2,110018,233,233,228,B,ADLD,250110,2017-08-07,2017-05-21,2018-02-16,4388,2018-02-26
4,2890283,AN,22,400104,233,233,131,C,ADLD,496001,2017-11-10,2017-09-22,2018-02-20,4581,2018-02-23

In [1759]:
mob_arr=test_data.mobmake.unique()

In [1760]:
mob_list=list(mob_arr)
len_mob=len(mob_list)
len_mob

34

In [1761]:
mob_dict={}

for i in range(0,len_mob):
    mob_dict[mob_arr[i]]=i
#mob_dict    
#train_data['mobmake']=train_data.mobmake.map(dict(Male=1, Female=0))

In [1762]:
test_data['mobmake']=test_data.mobmake.map(mob_dict)
#train_data['mobmake']
#train_data.head()

In [1763]:
test_data['custpincodecategory']=test_data.custpincodecategory.map({'0':0,'A':1,'B':2,'C':3,'D':4})

In [1764]:
test_data['claimtype']=test_data.claimtype.map({'ADLD':1,'EW':2})

In [1765]:
test_data['mobilepurchasedate']=test_data.mobilepurchasedate.dt.day
#train_data['mobilepurchasedate']

In [1766]:
test_data['claimintdate']=test_data.claimintdate.dt.day

In [1767]:
test_data['pickupStartdate']=test_data.pickupStartdate.dt.day
test_data['memcreateddate']=test_data.memcreateddate.dt.day

In [1768]:
test_data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate
0,2829088,0,3,560011,233,233,131,1,1,560093,30,27,1,4467,6
1,2829866,1,2,110018,233,233,228,1,1,110034,17,25,1,4388,8
2,2894489,1,3,560011,233,233,228,3,1,590014,12,11,21,4460,28
3,2876708,1,2,110018,233,233,228,2,1,250110,7,21,16,4388,26
4,2890283,0,22,400104,233,233,131,3,1,496001,10,22,20,4581,23

In [1769]:
#X=train_data.iloc[:,0:15]  4.90
feature_cols=['mobmake','custpincodecategory','claimtype','custpincode','memcreateddate']

In [1770]:
test_X=test_data[feature_cols]

In [1771]:
pred_dataset=lnreg.predict(test_X)
pred_dataset
for i in pred_dataset:
    print(i)

ValueError: shapes (2116,5) and (9,) not aligned: 5 (dim 1) != 9 (dim 0)